<template>
  <div>
    <form @submit.prevent="Email.sendEmail(Email.address)">
      <label>
        이메일 입력 :
        <input type="email" v-model="Email.address" required>
      </label>
      <button>입력</button>
    </form>
  </div>
</template>

<script>
import Email from '@/store/email'

export default {
  setup() {
    return { Email }
  }
}
</script>
